<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yes!Houses</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  
    <style>
    body { /* CSS */
      background-image: url('https://cdn.wallpapersafari.com/0/38/Bcsfi8.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      height: 100%;
      transform: scale(1);
      transform-origin: 0 0;
    }
    .logo-format {
      font-family: georgia;
      font-size: 44pt;
      font-style: italic; 
      border-top: 4px solid;
      border-bottom: 4px solid;
      margin-right: 50px;
      margin-left: 0px;
      padding-left: 0px;
    }
    
  </style>

    <form class="container-fluid">
        <button class="btn"> <span class="logo-format" >Yes!Houses</span><a href="index.html" >Home</a></button>
        <button class="btn btn-outline-dark btn-space" style="width: 150px; border: solid 5px; background-color: #C4EBFF"><a href="index.html" >Home</a></button>
        <button class="btn btn-outline-dark m-1" style="width: 150px; border: solid 3px; background-color: #C4EBFF" type="button"><a href="about.html" >About</a></button>
      </form>
    </nav>

    <h1>Hello World!</h1>
    
    

    

<!-- 
      <div class="container-hero">
          <div class="container-hero">
              <div class="Best-selling-houses">
                  <i class="fa-solid fa-city"></i>
                  <div class="rank-houses-in-the-area">
                      <span class="City">San Diego</span>
                      <span class="Rank">1</span>
                  </div>
              </div>

              <div class="container-logo">
                  <i class="fa-solid fa-house"></i>
                  <h1 class="logo"><a href="/">Thinking on Houses</a></h1>
              </div>

              <div class="container-user">
                  <i class="fa-solid fa-user"></i>
                  <i class="fa-solid fa-cart-shopping"></i>
                  <div class="content-shopping-cart">
                      <span class="text">Shopping Cart</span>
                      <span class="number">(0)</span>
                  </div>
              </div>
          </div>
      </div>

      <div class="container-navtab">
          <nav class="navbar container">
            <i class="fa-duotone fa-bars"></i>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Apartments</a></li>
                <li><a href="#">Houses</a></li>
                <li><a href="#">Rentals</a></li>
                <li><a href="#">More</a></li>
                <li><a href="#">Contact Us</a></li>                
            </ul>

            <form class= "search-form">
                <input type="search" placeholder="Search..." />
                <button class="btn-submit">
                    <i class="fa-solid fa-magnifying-glass"</i>
                </button>
            </form>
          </nav>
      </div>
    </header>

    <section class="banner">
      <div class="content-banner">
          <p>Best City in the country</p>
          <h2>Best People <br>Best Place to live</h2>
          <a href="#" class="btn-banner">Explore Now</a>
      </div>
    </section>

    <main class="main-content">
      <section class="container-section-features">
          <div clss="card-feature">
              <i class="fa-solid fa-house-user"></i>
              <div class="feature-content"></div>
                  <span>Zone of Interest</span>
                  <p>DEluxe neighborhood</p>
             </div>
          </div>
          <div clss="card-feature">
              <i class="fa-solid fa-building"></i>
              <div class="feature-content"></div>
                  <span>Zone of Interest</span>
                  <p>Downtown</p>
              </div>
          </div>
          <div clss="card-feature">
              <i class="fa-solid fa-house-chimney"></i>
              <div class="feature-content"></div>
                  <span>Zone of Interest</span>
                  <p>Urban Zone</p>
              </div>
          </div>
          <div clss="card-feature">
              <i class="fa-solid fa-house-chimney-window"></i>
              <div class="feature-content"></div>
                  <span>Zone of Interest</span>
                  <p>Rural Zone</p>
              </div>
          </div>
        </div>
      </section>

      <section class="container-top-properties">
          <h1 class="heading-1"> Best Sellers</h1>
          <div class="container-properties">
              <div class="card-category category Deluxe">
                  <p>La Jolla</p>
                  <span>See More</span>
              </div>
              <div class="card-category category Downtown">
                  <p>Coronado</p>
                  <span>See More</span>
              </div>
              <div class="card-category category Rural">
                <p>Fashion Valley</p>
                <span>See More</span>
              </div>
              <div class="card-category category Urban">
                  <p>El Cajon</p>
                  <span>See More</span>
              </div>
          </div>
      </section>

      <section class="container-recomendations">
          <h1 class="heading-1"> Best Sellers</h1>

          <div class="container-properties">
              <div class="container-img">

              </div>

          </div>

      </section>
    </main>

    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    


 -->
    
  </body>
</html>